.DS_Store

# RStudio
.Rhistory
.Renv
.Rprofile
*.Rproj
.Rproj.user
project.Rproj

# Quarto output
_site/
#/template.html
#/template_files/
#/template.html
#/template_files/
#_site/
#site_libs/
#/.quarto
#/.quarto/
#**/*.quarto_ipynb

#*.pdf

# Temporary files
*.deb
*.tmp

/.quarto/

**/*.quarto_ipynb
