.DS_Store

# RStudio
.Rhistory
.Renv
.Rprofile
*.Rproj
.Rproj.user
project.Rproj

# Quarto output
#/template.html
#/template_files/
#_site/
#site_libs/
#/.quarto
#/.quarto/
#**/*.quarto_ipynb

#*.pdf
